@import "settings";
@import "foundation";

#bacons {
    padding:20px;
    #images {
        border: 5px solid #eee;
    }
}
#drawer-heading {
    background-color:#eee;padding:5px;
    #heading-text{
            font-size:1.5em;
        }
}
